html, body { 
  height: 100%;
}

.new-movie, .search-form-submit, .new-admin-user {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  button{
    @include button(shiny, #ff0000);
  }
}